<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>INFO PROYECTO COMPRIMIDA</h3>
    <p>Argumentos de entrada: <%=infoComprimida.argEntrada %> </p>
    <p>Plataforma: <%=infoComprimida.plataforma %> </p>
    <p>Versión Node: <%=infoComprimida.nodeVersion %> </p>
    <p>Memoria Total reservada: <%=infoComprimida.memoriaTotal %> </p>
    <p>Path ejecución: <%=infoComprimida.pathEjecucion %> </p>
    <p>Process Id: <%=infoComprimida.processId %> </p>
    <p>Carpeta del proyecto: <%=infoComprimida.carpeta %> </p>
    <p>Número CPUS: <%=infoComprimida.numCPUs %> </p>
</body>
</html>